# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/
env/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Notebook checkpoints
.ipynb_checkpoints/

# Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
